@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family: "Tajawal", sans-serif;
}

:root {
  --themeColor: #828282;
}

.main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-attachment: fixed;
  background-size: auto 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url("https://picsum.photos/1200/600?grayscale&blur=2");
}

.content{
  width: 500px;
  background-color: #eee;
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 15px;
}
.quote-content{
  border: .8px solid #888;
  border-radius: 15px;
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 9px;
  position: relative;
}
.quote-content p{
  font-size: 15px;
  font-weight: 600;
}
.quote-content .author{
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}
.btns{
  width: 100%;
  height: 80px;
  margin: 8px 0;
}

.quote-btn{
  background-color: var(--themeColor);
  padding: 13px;
  font-size: 15px;
  border-radius: 15px;
  color: #eee;
  font-weight: 600;
  width: 100%;
  border: none;
  transition: .4s;
  cursor: pointer;
}


.quote-btn.loading{
background-color: rgba(130, 130, 130, .7);
}

.fun-btns{
  margin-top: 5px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy,
.read,
.twitter{
  width: 33.3333%;
  height: 35px;
  margin: 0 4px;
  border: .8px var(--themeColor) solid;
  color: var(--themeColor);
  border-radius: 15px;
  font-size: 17px;
  transition: .4s;
}


.copy:hover,
.read:hover,
.twitter:hover{
  background-color: var(--themeColor);
  color: #eee;
  cursor: pointer;
}

.insta{
  width: 100%;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.insta a{
  color: var(--themeColor);
  font-weight: 600;
  text-decoration: none;
}

.insta p{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: var(--themeColor);
}

.insta p span{
  font-weight: 600;
}




@media only screen and (max-width: 550px){

  .content{
    width: 90%;
  }

}

@media only screen and (max-width: 650px)
{
 main{
  background-image: url("https://picsum.photos/600/1200.jpg?blur=2&grayscale");
 }

}

@media only screen and (max-width: 1250px){
  .main{
    height: auto;
    padding: 4rem 0;
    background-image: url("https://picsum.photos/1200/1200.jpg?blur=2&grayscale");
  }

}
